/* FARBEN

Dunkelgrau #222429
Mittelgrau #34373e
Hellgrau #44454c
Hell #F1EDEB

*/





/***** ALLGEMEINE EINSTELLUNGEN *****/

body {
  margin: 0;
  font-family:  Arial, Verdana, sans-serif;
  background-color: #fff;
}



/* RESET */

* {
  margin: 0;
  padding: 0;
  color: #222429;
}


/* BESUCHTE LINKS */

a:visited {
  color: #606060;
}


/* PADDING FÜR SEKTIONEN */

#Abstand {
  padding: 0em 10em;
}

#ausgaben, #pda, #bestandsabgleich div, #weiteres, #links, #status, #titel, #verkaufsinfo {
  padding: 1em 0em;
}





/***** ÜBERSCHRIFT *****/

h1 {

  margin: 0;
  padding: 1em 0em;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  color: #222429;

}


hr {

  width: 7em;
  margin: auto;
  margin-top: 1em;
  border: none;
  height: 1px;
  background-color: #222429;

}


#notificaton {
  padding: 16px;
}



/***** ELEMENTE *****/

.button  {
  border: 1px solid #222429;
  border-radius: 4px;
  color: #222429;
  background-color: transparent;
}

.button:hover {
  border-color: #F1EDEB;
  color: #F1EDEB;
  background-color: #34373e;
}



/***** SUCHZEILE *****/

#Suchzeile {

  width: 100%;
  padding: 1em 5em;
  border: none;
  text-align: center;
  background-color: #F1EDEB;

}

#isbnTD {
  width: 40%;
}

#idTD {
  width: 30%;
}

.box {
  float: left;
  padding: 10px;
}



/* HILFE UND DESIGN-CHANGE */

#Suchzeile a, #Suchzeile p {

  display: inline;
  font-weight: bold;
  text-decoration: none;
  color: #222429;

}

#ChangeDesignButton:hover {
  cursor: pointer; 
}



/* SUCHFELDER UND BUTTONS */

input, select {

  padding: 0.4em;
  border: 1px solid #222429;
  border-radius: 4px;
  color: #222429;

}





/***** ERGEBNIS | TITEL *****/

#titel {
  text-align: center;
  color: #F1EDEB;
  background-color: #34373e;
}

#titel b, #titel i {
  font-size: 1.5em;
  color: #F1EDEB;
}





/***** VERKAUFSINFOS *****/

#verkaufsinfo td {
  line-height: 1.4em;
}

#verkaufsinfo td:nth-child(2) {
  padding: 0em 1.5em 0em 0.5em;
  /*text-align: justify;*/
}





/***** VERSCHIEDENE AUSGABEN *****/

#ausgaben table {

  border-collapse: collapse;
  border: none;
  border-top: 2px solid #34373e;
  border-bottom: 2px solid #34373e;

}

#ausgabenTable tr:nth-child(even) {
    background-color: #F1EDEB;
}

#ausgaben td {
  padding: 0.5em;
  border: none;
  text-align: left;
}

#ausgaben td:first-of-type {
  text-align: center;
}



/* AUSGABEN BUTTONS */

#ausgaben .btn {

  border: 1px solid;
  border-radius: 4px;
  padding: 0.3em;
  background-color: #fff;

}

#ausgaben .btn, #ausgaben .btn * {
  display: inline;
}

#ausgaben .btn:hover {
  cursor: pointer;
  box-shadow: inset 0em 0em 0.2em;
}

#ausgaben .btn img {
  height: 1em;
  width: auto;
}





/***** VERBUENDE *****/

#verbuende {

  margin-top: 2em;
  border: none;
  border-top: 1px solid #fff;
  border-radius: 4px;
  border-collapse: collapse;

}

#verbuende * {
  border: none;
}

.verbuendeUeber {
  background-color: #34373e;
}

.verbuendeUeber * {
  color: #F1EDEB;
}

.verbuendeUeber th {
  text-align: left;
}

#verbuende tr:nth-child(2n+3) {
  background-color: #F1EDEB;
}

#verbuende td, #verbuende th {
  padding: 0.5em;
}

#verbuende th {
  padding-bottom: 1em;
}

/* text-decoration entfernen, RVK und Schlagwörter fett für Orientierung */
#verbuende * {
  /*text-decoration: none;*/
}

#rvkB3KAT, #rvkHBZ, #rvkK10PLUS, #rvkHEBIS, #rvkOBVSG, #rvkSWB, #rvkSWISS,
#swB3KAT, #swHBZ, #swK10PLUS, #swHEBIS, #swOBVSG, #swSWB, #swSWISS, #rvkaggregiert a {


  font-weight: bold;

}

.rvkError, .rvkError:visited {
  color: darkred;
}



/***** LINKS *****/

#links {
  line-height: 1.5em;
  text-align: center;
}





/***** STATUS *****/

#status {
  text-align: center;
  color: #222429;
  background-color: #F1EDEB;
}
